.footer {
    text-align: center;
    padding: 1rem;
    background-color:111216;
    color: white;
  }
  

  @media (max-width: 768px) {
    .footer p {
      font-size: 0.8rem; /* モバイル用 */
    }
  }
