/* セクションのスタイル */
.catch-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%; /* セクションの幅を90%に */
  margin: 0 auto; /* セクションを中央に配置 */
  margin-bottom: 20rem;
}

.catch-section .catch-copy {
  flex: 1;
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.catch-section .message {
  flex: 2;
}

.catch-section h2 {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.catch-section p {
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.05rem;
  padding-left: 0.5rem;
  text-align: justify;
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform: translateZ(0);
}

/* スマホサイズ用のスタイル調整 */
@media (max-width: 768px) {
  .catch-section {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0rem !important;
  }

  .catch-section .catch-copy {
      padding-right: 0;
      margin-bottom: 1rem;
  }

  .catch-section h2 {
      font-size: 1.5rem;
  }

  .catch-section p {
      font-size: 1rem;
      line-height: 1.6;
  }
}
