.WhoCompaney{
    padding-top: 20rem;
}

.WhoCompaney {
    width: 90%;
    margin: 0 auto;
    background-color: #111216;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
  }

  .WhoCompaney-message p{
    font-size: 1rem;
  }
  
  
  /* レスポンシブ対応 */
  @media (max-width: 768px) {
    .company-info {
      padding: 30px;
    }
  
    .company-info h1 {
      font-size: 2rem;
    }
  
    .company-info h2 {
      font-size: 1.8rem;
    }
  
    .company-info p {
      font-size: 1.1rem;
    }
  
    .alinece_content {
      flex-direction: column;
      gap: 10px;
    }
  
    .greig img {
      width: 120px;
    }
  }
  
  @media (max-width: 480px) {

    .WhoCompaney{
        padding-top: 6rem;
    }
    
    .WhoCompaney h1{
      padding-top: 2rem;
  }
  

    .WhoCompaney-message p{
      font-size: 0.8rem;
    }
    .company-info {
      padding: 20px;
    }
  
    .company-info h1 {
      font-size: 1.7rem;
    }
  
    .company-info h2 {
      font-size: 1.5rem;
    }
  
    .company-info p {
      font-size: 1rem;
    }
  
    .greig{
      width: 250px;
    }
  }
  